@font-face {
  font-family: minecraft;
  src: url('src/Minecraft.ttf');
}

/* 하단 텍스트 드래그시 복사 방지 */
html, body {
  cursor: default;
}

* {
  font-family: minecraft;
  color: #3d200c;
}

p {
  font-size: 14px;
  position: absolute;
}

body {
  padding: 0;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  
}



canvas {
  width: 320px;
  height: 288px;
  background: #dcb198;
  image-rendering: pixelated;
}

h1 {
  text-align: center;
  color: #3d200c;
}

.container {
  margin-top: 200px;
  transform: scale(2);
}

.text-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stage, .score {
  margin-top: 560px;
}

.score {
  margin-left: 266px;
}