@font-face {
  font-family: "visitor";
  src: url('src/visitor1.ttf');
}

@font-face {
  font-family: "pixeled";
  src: url('src/Pixeled.ttf');
}



:root {
  --body-bg: #908177;
  --screen-bg: #200e02;
  --primary: #6c4024;
  --secondary: #f8979f;
  --tertiary: #ff5261;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: var(--body-bg);
}

/* fonts */

* {
  box-sizing: border-box;
  text-align: center;
  font-family: visitor;
}

 p {
  color: white;
  font-size: 24px;
  position: relative;
  top: 432px;
}


/* button */

button {
  position: absolute;
  left: 111px;
  bottom: 32px;
  width: 96px;
  height: 32px;
  border: none;
  color: white;
  font-size: 16px;
  background: transparent;
  background-image: url('img/web/btn.png');
}

span {
  position: relative;
  bottom: 4px;
}

.audio:hover {
  cursor: pointer;
}

 button:hover {
  cursor: pointer;
  background-image: url('img/web/btn_hover.png');
  color: #e1e0e0;
}


button:active {
  color: #bdbdbd;
  background-image: url('img/web/btn_active.png');
}

button:active span {
  position: relative;
  bottom: 1px;
}

/* containers */

.game-container {
  width: 320px;
  height: 288px;
  margin: 0 auto;
  transform: scale(2) translateY(50%);
  image-rendering: pixelated;
}



.title-screen .audio {
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.title-logo {
  display: block;
  position: absolute;
}


.title-screen,
.game-over,
.game-end {
  position: relative;
  width: 320px;
  height: 288px;
  background: var(--screen-bg);
  display: none;
}

canvas {
  display: none;
}

.show {
  display: block;
}